.contenido-cambio h6{
    color:white;
    
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}
.contenido-cambio .gale3{
    margin-left: 15px;
    margin-right: 15px;
}
.contenido-cambio .caja1{
    margin-left: 15px;
    margin-right: 15px;
}
.contenido-cambio .caja2{
    margin-left: 15px;
    margin-right: 15px;
}
.contenido-electronica h6{
    color:white;
    
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}
.contenido-electronica .gale2{
    margin-left: 15px;
    margin-right: 15px; 
}
.contenido-electronica .elec1{
    margin-left: 15px;
    margin-right: 15px;
}
.contenido-electronica .elec2{
    margin-left: 15px;
    margin-right: 15px;
}
.contenido-suspenciones h6{
    color:white;
    
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}
.contenido-suspenciones .gale1{
    margin-left: 15px;
    margin-right: 15px;
}
.contenido-suspenciones .suspe1{
    margin-left: 15px;
    margin-right: 15px;
}
.contenido-suspenciones .suspe2{
    margin-left: 15px;
    margin-right: 15px;
}
.contenido-somos  h1{
    color:white;
    
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}
.contenido-somos p{
    color:white;
    
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}
.contenido-somos h6{
    color:white;
    
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}
.contenido-somos .armando{
    margin-left: 15px;
    margin-right: 15px;
}
.contenido-somos .esteban{
    margin-left: 15px;
    margin-right: 15px;
}
.contenido-somos .marcelo{
    margin-left: 15px;
    margin-right: 15px;
}
.contenido h6{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 15px;
}
.contenido .gal1-1{
    margin-left: 15px;
    margin-right: 15px
}
.contenido .gal1-2{
    margin-left: 15px;
    margin-right: 15px;
}
.contenido .gal1-3{
    margin-left: 15px;
    margin-right: 15px;
    
}
.contenido .gal1-4{
    margin-left: 15px;
    margin-right: 15px;
}
.contenido .gal1-5{
    margin-left: 15px;
    margin-right: 15px;
}
.contenido .gal2-1{
    margin-left: 15px;
    margin-right: 15px;
}
.contenido .gal2-2{
    margin-left: 15px;
    margin-right: 15px;
}
.contenido .gal2-3{
    margin-left: 15px;
    margin-right: 15px;
}
.contenido .gal2-4{
    margin-left: 15px;
    margin-right: 15px;
}
.contenido .gal2-5{
    margin-left: 15px;
    margin-right: 15px;
}
.contenido .gal3-1{
    margin-left: 15px;
    margin-right: 15px;
}
.contenido .gal3-2{
    margin-left: 15px;
    margin-right: 15px;
}
.contenido .gal3-3{
    margin-left: 15px;
    margin-right: 15px;
}
.contenido .gal3-4{
    margin-left: 15px;
    margin-right: 15px;
}
.contenido .gal3-5{
    margin-left: 15px;
    margin-right: 15px;
}