.lista-perfil{
    
    border-radius: 15px;
    background-color:rgb(103, 72, 218);
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 300px;
}
.lista-perfil h5{
    color: white;
    margin-left: 15px;
    margin-right: 15px; 
}
#avi .avatar{
    position: center;
    margin-left: 500px;
    margin-right: auto;
    border-radius: 15px;
}
#perfil .cambio-direccion{
    position: center;
    margin-left: 725px;
    margin-right: auto;
    border-radius: 15px
}
#perfil .cambio-contraseña{
    position: center;
    margin-left: 725px;
    margin-right: auto;
    border-radius: 15px
}
#perfil{
    margin-bottom: 30px;
}